html {
  font-family: Raleway;
  padding-left: 2%;
  padding-right: 2%;
}

h1 {
  font-size: 150%;
}

p {
  font-size: 100%;
}

.decorationnone {
  text-decoration: none;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexaround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexcentre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizelien {
  width: 25%;
}

.colorlien1 {
  color: black;
}

.colorlien2 {
  color: #0065fc;
}

.sizelogo {
  width: 120px;
  height: 50px;
}

.flexstart {
  display: flex;
  justify-content: flex-start;
}

.iconesize {
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.searchsize {
  height: 50px;
  width: 170px;
  color: black;
}

.bouton {
  height: 50px;
  width: 130px;
  background-color: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

input::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 5%;
}

.sizeInput {
  height: 50px;
  border-left: none;
  border-right: none;
  border: 0.5px solid #f2f2f2;
}




/* CSS FILTRE */

.filtre{
  display: flex;
  align-items: center;
  
}

.margefiltre{
  margin-top: 50px;
  margin-bottom: 15px;
 
}

.margefiltretitre{
  margin-right: 20px;
}
.filtretexticons{
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filtreicons{
  margin-left: -2px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #0065fc;
  background-color: #DEEBFF; 
}

.filtretext{
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0px 25px 25px 0px;
}


.info{
  height: 50px;
  width: 450px;
}

.imginfo{
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  color: #0065fc;
  height: 20px;
  width: 20px;
}




.sizeHebergement{
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: grey;
}

.sizePopulaire{
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: grey;
}


.imgHebergements1{
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}
