html {
  font-family: Raleway;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

h1 {
  font-size: 150%;
  font-weight: bold;
}

p {
  font-size: 100%;
}

.decoration-none {
  text-decoration: none;
}

/* Class global */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-Column-Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-Column-Between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-Column-Around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* FIN CLASS GLOBAL*/

.size-link {
  width: 25%;
}

.color-link1 {
  color: black;
}

.color-link2 {
  color: #0065fc;
}

.size-logo {
  width: 120px;
  height: 50px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.icon-size {
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.search-size {
  height: 50px;
  width: 170px;
  color: black;
}

.button {
  height: 50px;
  width: 130px;
  background-color: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

input::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 5%;
}

.size-input {
  height: 50px;
  border-left: none;
  border-right: none;
  border: 0.5px solid #f2f2f2;
}

/* CSS FILTRE */

.filter {
  display: flex;
  align-items: center;
}

.margin-filter {
  margin-top: 50px;
  margin-bottom: 15px;
}

.margin-filter-title {
  margin-right: 20px;
}
.filter-text-icon {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filter-icon {
  margin-left: -2px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #0065fc;
  background-color: #deebff;
}

.filter-text {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0px 25px 25px 0px;
}

.info {
  height: 50px;
  width: 450px;
}

.img-info {
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  color: #0065fc;
  height: 20px;
  width: 20px;
}

/*CSS HOSTING */

.size-hosting {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.size-popular {
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.img-hosting1 {
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}

.img-hosting2 {
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}

.img-hosting3 {
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}

.img-hosting4 {
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}

.img-hosting5 {
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}

.img-hosting6 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}

.block-hosting {
  padding-left: 20px;
  padding-right: 20px;
}

.cubehebergement {
  width: 250px;
  height: 210px;
  background-color: white;
  padding: 6px;
  border-radius: 20px;
}

.color-star {
  color: #0065fc;
}

.color-star1 {
  color: #f2f2f2;
}

.space {
  line-height: 5px;
  padding-left: 10px;
}

/* CSS POPULAR */

.popular-title-icon {
  padding: 20px;
}
.cube-popular {
  width: 384px;
  height: 140px;
  background-color: white;
  padding: 6px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.img-popular1 {
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}

.img-popular2 {
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}

.img-popular3 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}

.position-description-popular {
  padding-right: 80px;
  padding-bottom: 35px;
}

.position-star-popular {
  padding-left: 10px;
  padding-bottom: 20px;
}

.position-description-popular23 {
  padding-right: 90px;
  padding-bottom: 35px;
}

.position-star-popular23 {
  padding-left: 10px;
  padding-bottom: 20px;
}

/* CSS ACTIVITY */

.size-activity {
  height: 600px;
  width: 1411px;
}

.cube-activity {
  width: 384px;
  height: 140px;
  background-color: white;
  padding: 6px;
  border-radius: 20px;
}

.cube-activity1 {
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}

.cube-activity2 {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
  margin: 20px;
}

.img-activity2 {
  background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80%;
  border-radius: 15px 15px 0px 0px;
}

.img-activity1 {
  background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90%;
  border-radius: 15px 15px 0px 0px;
}

.position-text-activity {
  padding-left: 10px;
  padding-bottom: 10px;
}

/* CSS */

footer {
  width: 100%;
  background-color: #f2f2f2;
}
